.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;

}
.experience__tagline {
  display:block;
  background: var(--color-bg-variant);
  max-width: 100%;
  gap:1rem;
}

.aliens {
  display: grid;
grid-auto-flow: column;
}

.experience__container > div {
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  gap:1rem;
}

.experience__container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.experience__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);

}


.experience__details {
  display: -webkit-inline-box;
  gap: 1rem;
  padding-bottom: 10px;
}

.experience__details-icon {
  margin-top: 6px;
  color: var(--color-primary);
}

.experience__details-icon-art {
  margin-top: 4px;
  color: var(--color-primary);
}

/* ---------------- Media Queries (Med Devices) ---------------- */
@media screen and (max-width: 1024px) {
  .experience__container {
display:flex;
flex-direction: column;
gap:2rem;
  }

  .container.experience__container > div {


padding: 25px;
  }
  .experience__details{
    padding-right: 35px;
  }

  .experience__content {
    padding: 0;
  }
}

/* ---------------- Media Queries (Small Devices) ---------------- */
@media screen and (max-width: 600px) {

  .experience__container {
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
 font-size: small;


  }



  .experience__content {
    display: grid;
    grid-template-columns: 1fr;

  }

}
